# set empty if not needed
DOCKER_PATH="/srv/docker"

# mailconfig for notification
SMTPSERVER="mail.local"
SMTPPORT="587"
SMTPUSER="sender@mail.local"
SMTPPASS='xxxxxxxxxxxxxxx'
FROMNAME="sender"
MAILFROM="sender@mail.local"
MAILTO=(mail1@mail.local mail2@mail.local)

# config for syschecker
AIDE_SCAN="YES"
ROOTKIT_SCAN="NO"
AV_SCAN="YES"

# config for sysupdater
NOTIFYMODE="POPUP"
AUTOREBOOT="NO"
UPDATEMOTD="NO"
